<script>
import { GlChart } from "@gitlab/ui/dist/charts";

export default {
  components: {
    GlChart
  },
  data() {
    return {
      chartConig: {
        xAxis: {
          type: "category"
        },
        yAxis: {
          type: "value"
        },
        series: [
          {
            symbolSize: 20,
            data: [
              ["19 May", 6.95],
              ["20 May", 7.58],
              ["21 May", 8.81],
              ["22 May", 8.33],
              ["23 May", 9.96],
              ["24 May", 7.24],
              ["25 May", 4.26]
            ],
            type: "scatter"
          },
          {
            data: [9, 10, 11, 12, 11, 12, 9],
            type: "line"
          }
        ]
      }
    };
  }
};
</script>

<style>
</style>

<template>
  <gl-chart :options="chartConig" />
</template>

