<script>
import { GlChart } from "@gitlab/ui/dist/charts";

export default {
  components: {
    GlChart
  },
  data() {
    return {
      chartConig: {
        series: [
          {
            drillDownIcon: "",
            roam: false,
            nodeClick: false,
            name: "ALL",
            leafDepth: 2,
            type: "treemap",
            label: {
              show: true,
              formatter: "{b}",
              normal: {
                color: "#000",
                textStyle: {
                  ellipsis: true
                }
              }
            },
            itemStyle: {
              normal: {
                borderColor: "white"
              }
            },
            levels: [
              {
                color: [
                  "#d8eddd",
                  "#b1dbbc",
                  "#8bc99a",
                  "#6cb879",
                  "#efae44",
                  "#d16d51"
                ],
                colorMappingBy: "value",
                itemStyle: {
                  normal: {
                    borderWidth: 3,
                    borderColor: "white",
                    gapWidth: 3
                  }
                }
              },
              {
                color: [
                  "#d8eddd",
                  "#b1dbbc",
                  "#8bc99a",
                  "#6cb879",
                  "#efae44",
                  "#d16d51"
                ],
                colorMappingBy: "index",
                itemStyle: {
                  normal: {
                    borderWidth: 3,
                    borderColor: "white",
                    gapWidth: 3
                  }
                }
              }
            ],
            data: [
              {
                id: "folder_1",
                name: "Folder 1",
                value: 23,
                children: [
                  {
                    id: "file_1",
                    name: "File 1",
                    value: 13
                  },
                  {
                    id: "file_2",
                    name: "File 2",
                    value: 10
                  }
                ]
              },
              {
                id: "folder_2",
                name: "Folder 2",
                value: 46,
                children: [
                  {
                    id: "file_1",
                    name: "File 1",
                    value: 12
                  },
                  {
                    id: "file_2",
                    name: "File 2",
                    value: 34
                  }
                ]
              },
              {
                id: "file_1",
                name: "File 1",
                value: 5
              },
              {
                id: "folder_3",
                name: "Folder 3",
                value: 10,
                children: [
                  {
                    id: "file_1",
                    name: "File 1",
                    value: 4
                  },
                  {
                    id: "file_2",
                    name: "File 2",
                    value: 6
                  }
                ]
              },
              {
                id: "folder_4",
                name: "Folder 4",
                value: 60,
                children: [
                  {
                    id: "folder_1",
                    name: "Folder 1",
                    value: 5,
                    children: [
                      // If we're only fetching 2 levels of data at a time, the table would need to be refreshed loading this as the root
                      // after making an API call to fetch more data. Unless we pre-empt it and load the data async which could be a waste
                      // of resources..
                    ]
                  },
                  {
                    id: "file_1",
                    name: "File 1",
                    value: 45
                  },
                  {
                    id: "file_2",
                    name: "File 2",
                    value: 10
                  }
                ]
              },
              {
                id: "folder_5",
                name: "Folder 5",
                value: 13,
                children: [
                  {
                    id: "file_1",
                    name: "File 1",
                    value: 2
                  },
                  {
                    id: "file_2",
                    name: "File 2",
                    value: 1
                  }
                ]
              }
            ]
          }
        ]
      }
    };
  }
};
</script>

<template>
  <gl-chart :options="chartConig" />
</template>
