<script>
import ScatterChart from "./components/scatterChart.vue";
import TreeMap from "./components/treeMap.vue";

export default {
  name: "app",
  components: {
    ScatterChart,
    TreeMap
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>

<template>
  <div id="app">
    <ScatterChart />
    <TreeMap />
  </div>
</template>
